html, body {
  background-color: #101010;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  position: relative;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
  background-color: black;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.thumbsup {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s ease;
  font-size: 20px;
  color: black;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5px;
  transition: left 0.3s ease; 
}

.thumbeduped .thumbsup {
  left: 55px;
  animation-name: colorChange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.thumbsup.thumbeduped {
  background-color: #e06c75;
}

@keyframes colorChange {
  0% { color: black; }
  100% { color: blue; }
}

.thumbsup-background {
  user-select: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0; 
  opacity: 0;
  transition: opacity 0.5s ease; 
}

.thumbsup-background.show {
  opacity: 1;
}

.thumbsup-emoji {
  position: absolute;
  font-size: 24px;
  opacity: 0.6;
  animation-name: emojiMove;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes emojiMove {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-20px) rotate(30deg);
  }
  70% {
    transform: translateY(20px) rotate(-30deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
